@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    color: #222;
    body {
        overflow-x: hidden;
        background-color: #ececec;
    }
}
a {
    color: #CCC;
    transition: all 0.3s ease;
    text-decoration: none;
    &:hover {
        color: white;
    }
}
.content {
    padding-top: 70px;
}
