<div class="nav">
    <div class="nav-icon">
        <a><i class="fa fa-user fa-2x"></i> </a>
    </div>
    <div class="nav-dropdown">
        <div class="user-info" ng-if="user.loggedIn">
            <img class="user-avatar" ng-src="{{::user.profile.avatar}}" alt="Avatar">
            <div class="user-name">{{::user.profile.firstName}} {{::user.profile.lastName}}</div>
        </div>
        <ul class="nav-actions">
            <li><a href="/#/baseline">Baselines</a></li>
            <li ng-if="user.loggedIn"><a href="/#/user">Users</a></li>
            <li ng-if="!user.loggedIn"><a href="/#/login">Login</a></li>
            <li ng-if="user.loggedIn"><a href="/#/logout">Logout</a></li>
        </ul>
    </div>
</div>
