.nav {

	&__link {
		position: relative;
		text-decoration: none;
		color: var(--black);
		margin-left: 16px;

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 0;
			height: 1px;
			background-color: var(--black);
			transition: width 0.3s ease;
		}

		&:hover::after {
			width: 100%;
		}
	}

}
