.baseline-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.baseline-item {
  display: flex;
  position: relative;
  overflow: hidden;
  flex: 1 0 25%;
  min-width: 400px;
  max-height: 350px;
  margin: 5px;
  border: 1px solid #d8d8d8;
}
