.comparison {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 25px;

  .taken {
    display: flex;
    flex: 1 0 230px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    .highlight {
      font-weight: 300;
      display: block;
      margin-top: 5px;
    }
  }
  .comparison-actions {
    width: 100%;
    display: block;
    color: white;

    .button {
      display: block;
      margin: 5px;
    }

    .delete {
      background-color: darkred;
    }
  }
  .snapshot {
    border: 1px solid #d8d8d8;
  }
}
