.loader-container {
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    position: fixed;
    right: 5%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
}
.loader {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #25313e;
    border: 1px solid rgba(255,255,255, 0.08);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(255,255,255, 0.2);
        animation: fill 2s linear infinite;
    }
}

@keyframes fill {
    0%, 100%{ box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.1);}
    50%{ box-shadow: inset 0px -40px 0px 0px rgba(255,255,255,1);}
}
