.table {
    width: 100%;
    margin: 10px 0;
    text-align: left;
    thead {
        font-weight: bold;
        tr {
            background: #f6f7f8;
        }
    }
    tbody {
        a {
            color: #25313e;
            text-decoration: underline;
        }
    }
    tr, td {
        transition: background-color 0.2s ease;
    }
    tr {
        background-color: white;
    }
    td, th {
        padding: 10px;
        border: 1px solid lightgrey;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    }
    .options {
        color: white;
        max-width: 130px;
    }
}
@media screen and (min-width: 601px) {
    .table tbody {
        tr:nth-child(even) {
            background-color: #f7f7f7;
        }
        tr:hover {
            background-color: #ededed;
        }
    }
}
@media screen and (max-width: 600px) {
    .table {
        border: 0;
        thead {
            display: none;
        }
        tbody {
            tr {
                margin-bottom: 10px;
                display: block;
                border: 1px solid lightgrey;
                border-color: #e5e6e9 #dfe0e4 #d0d1d5;

            }
            td {
                border-color: transparent;
                display: block;
                text-align: right;
                font-size: 13px;
                &:nth-child(even) {
                    background-color: #f7f7f7;
                }
                &:hover {
                    background-color: #ededed;
                }

                &:last-child {
                    border-bottom: 0;
                }
                &:before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                }
            }
        }
    }
}
