.button {
  display: block;
  width: 200px;
  height: var(--button-height);
  line-height: var(--button-height);
  font-family: var(--font-family);
  text-align: center;
  text-decoration: none;
  color: var(--white);
  font-weight: 300;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
	margin-top: 32px;
	overflow: hidden;

	background-color: var(--dark);
	&:hover {
		background-color: var(--black);
	}

  &--central {
    margin-left: auto;
    margin-right: auto;
  }

  &--cta {
    background-color: var(--orange);
  }
  &--cta:hover {
    background-color: var(--dark-orange);
  }

  &--blue {
    background-color: var(--light-blue);
  }
  &--blue:hover {
    background-color: var(--blue);
	}

  &--dark {
    background-color: var(--darkest-blue);
  }
  &--dark:hover {
    background-color: var(--black);
	}

	&--success {
    background-color: var(--success);
  }
  &--success:hover {
    background-color: var(--success-dark);
	}

	&--danger {
    background-color: var(--error);
  }
  &--danger:hover {
    background-color: var(--error-dark);
	}

	&--collapse {
		margin: 0;
	}

	&--small {
		height: 40px;
		line-height: 40px;
		width: auto;
		padding: 0 16px;
	}

	& + & {
		margin-left: 8px;
	}

}
