.info-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 180px;

	&__icon {
		padding-right: 20px;
		height: 50px;
	}

	&__title, &__value {
    text-align: right;
	}

	&__title {
		font-size: var(--sub-title-size);
	}

	&__value {
		font-size: var(--title-size);
	}

}
