<div class="search">
    <input class="input" type="text" ng-model="nameFilter" placeholder="Search">
    <a class="button" ng-click="filterByOutstanding()">Filter By Outstanding</a>
    <a class="button" ng-click="showAll()">Show All</a>
</div>
<div class="row">
    <div ng-repeat="baseline in baselines | filter:{ name: nameFilter } track by baseline._id" class="baseline">
        <div class="image">
            <img ng-src="{{::images[baseline.name]}}" alt="{{::baseline.name}}">
        </div>
        <div class="info">
            <h2 class="name">{{::baseline.name}}</h2>
            <small class="date">{{::baseline.dateCreated | date:"dd/MM/yyyy 'at' h:mma"}}</small>
            <ul class="actions">
                <li><a href="#/snapshot/{{::baseline.name}}">View Candidates</a>
                </li>
                <li><a href="{{::baseline.raw}}" target="_blank">View in Tab</a>
                </li>
            </ul>
        </div>
    </div>
</div>
