$dark_blue: #1E2A50;
$yellow: #EAB643;
$green: #36AA63;
$orange: #C64C2C;
$white: #FCFCFC;
$dark: #2F2D2E;

$success: #34B249;
$warning: #E8B130;
$error: #C91D2B;

$google: #DF4A32;
$github: #333;

$desktop: 1240px;
$tablet: 750px;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  // Colours
  --black: #111;
  --white: #{$white};
  --grey: #{darken($white, 10)};
  --light: #{lighten($dark, 10)};
  --dark: #{$dark};
  --light-blue: #{lighten($dark_blue, 20)};
  --blue: #{lighten($dark_blue, 10)};
  --dark-blue: #{$dark_blue};
  --darkest-blue: #{darken($dark_blue, 10)};
  --orange: #{$orange};
  --dark-orange: #{darken($orange, 10)};

  // Social
  --google: #{$google};
  --google-dark: #{darken($google, 10)};
  --github: #{$github};
  --github-dark: #{darken($github, 10)};

  // Status
  --success: #{$success};
  --success-dark: #{darken($success, 10)};
  --warning: #{$warning};
  --warning-dark: #{darken($warning, 10)};
  --error: #{$error};
  --error-dark: #{darken($error, 10)};

  // Size stuff
  --nav-height: 80px;
  --container-width: 1240px;
  --padding: 60px;
  --padding-small: 30px;
  --button-height: 50px;
  --border-radius: 4px;
  --grid-col-gap: 8px;
  --grid-row-gap: 16px;

  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 16px;


  // Font stuff
  --font-family: 'Open Sans', sans-serif;
  --text-size: 16px;
  --title-size: 32px;
  --sub-title-size: 24px;

}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: var(--text-size);
  line-height: 1.5;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 500;
}

//Tablet
@media only screen and (max-width: $desktop) {
  :root {
    --padding: 45px;
    --padding-small: 20px;
  }
}

// Mobile
@media only screen and (max-width: $tablet) {
  :root {
    --padding: 30px;
    --padding-small: 10px;
  }
}
