<h1 class="title">{{::baseline.name}}</h1>
<ul class="baseline-list">
    <div class="baseline-item"
         ng-repeat="result in baseline.results">
        <div class="snapshot">
            <img class="snapshot-image" ng-src={{::"/api/baseline/"+result._id+"/raw"}}></img>
            <div class="snapshot-info">
                <h2 class="name">{{:: result.meta.browser }}</h2>
                <div class="snapshot-actions">
                    <a href="{{::'/api/baseline/'+result._id+'/raw'}}">View On Screen</a>
                    <a ng-click="baseline.remove(result)">Remove Baseline</a>
                </div>
            </div>
        </div>
    </div>
</ul>