*, *:before, *:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

::selection {
    background: rgba(40, 40, 40, 0.3);
}

::-moz-selection {
    background: rgba(40, 40, 40, 0.3);
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    color: #333;
    body {
        overflow-x: hidden;
        background-color: #ececec;
    }
}

a {
    color: #CCC;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: white;
    }
}

.hidden {
    display: none !important;
}

.content {
    .title {
        font-size: 40px;
        margin: 20px;
        border-bottom: 1px solid lightgrey;
    }
    .container {
        margin: 0 auto;
        max-width: 1280px;
        @media screen and (min-width: 400px) {
            padding: 0 20px;
        }
    }
}

[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
