$LARGE_GRID_COLUMNS: 6;
$MEDIUM_GRID_COLUMNS: 4;
$SMALL_GRID_COLUMNS: 3;
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    &:after {
        /* Or @extend clearfix */

        content: "";
        display: table;
        clear: both;
    }
}

.row {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & > * {
        float: left;
    }
    .grid &:last-of-type {
        padding-right: 0;
    }
}

@mixin columns($number) {
    float: left;
    @media screen and (max-width: 480px) {
        min-width: 100%;
        width: 100%;
    }
    @media screen and (min-width: 481px) and (max-width: 680px) {
        min-width: 50%;
        width: 50%;
    }
    @media screen and (min-width: 681px) and (max-width: 1000px) {
        min-width: percentage($number / $SMALL_GRID_COLUMNS);
        width: percentage($number / $SMALL_GRID_COLUMNS);
    }
    @media screen and (min-width: 1001px) and (max-width: 1440px) {
        min-width: percentage($number / $MEDIUM_GRID_COLUMNS);
        width: percentage($number / $MEDIUM_GRID_COLUMNS);
    }
    @media screen and (min-width: 1441px) {
        min-width: percentage($number / $LARGE_GRID_COLUMNS);
        width: percentage($number / $LARGE_GRID_COLUMNS);
    }
}
