$nav-height: 60px;

.nav-container {
    height: $nav-height;
    width: 100%;
}

.top-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    color: #9db1c5;
    background-color: #25313e;
    width: 100%;
    height: $nav-height;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

    .easter-egg,
    .top-title {
        position: relative;
        width: auto;
        height: $nav-height;
        float: none;
        font-size: 20px;
        font-weight: 400;
        line-height: 50px;
        display: inline-block;
        padding: 0 15px;
        a {
            text-decoration: none;
            line-height: $nav-height;
            color: #9db1c5;
            &:hover {
                color: white;
            }
        }
        i {
            margin-right: 10px;
        }
    }
    .easter-egg {
        a {
            color: #25313e;
        }
    }
    .nav {
        height: $nav-height;
        position: relative;
        width: $nav-height;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
            background: rgba(200,200,200, 0.3);

            .nav-dropdown {
                height: auto;
                padding: 20px 0;
                visibility: visible;
            }
        }

    }
}

.nav-dropdown {
    display: block;
    cursor: default;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    left: -160px;
    top: 100%;
    width: 220px;
    height: 0;
    background: white;
    border: 1px solid lightgrey;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;

    .user-info {
        margin-bottom: 10px;

        .user-avatar {
            display: block;
            width: 75px;
            margin: 0 auto;
        }
        .user-name {
            color: #333;
            text-align: center;
            font-size: 24px;
            line-height: 32px;
            word-wrap: break-word;
        }
    }

    .nav-actions {

        li {
            border-left: 2px solid orange;
            background-color: #f7f7f7;
            transition: padding 0.2s ease, border 0.2s linear, background-color 0.3s ease;

            &:nth-child(even) {
                background-color: #f1f1f1;
            }
            &:hover {
                background-color: #e8e8e8;
            }

            &:hover {
                padding-left: 15px;
                border-left-width: 4px;
            }
        }
    }

    a {
        display: block;
        padding-left: 10px;
        color: #333;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
    }
}
