$switch-height: 40px;
$switch-width: 90px;

input[type="text"] {
    margin: 0;
    min-width: 200px;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    margin-right: 5px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s,border 0.3s;
    &:focus {
        outline: none;
        border: solid 1px #C0C0C0;
        box-shadow: 0 0 5px 1px lighten(#969696,20);
    }
}
.button {
    display: inline-block;
    text-rendering: optimizeLegibility;
    margin: 0 5px;
    padding: 10px;
    font-size: 18px;
    background-color: #25313e;
    text-align: center;
    border: 1px solid darkgrey;
}
