.fade {
    &.ng-enter,
    &.ng-leave,
    &.ng-move {
        transition: all linear 0.3s;
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active,
    &.ng-move {
        opacity: 0;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave,
    &.ng-move.ng-move-active {
        opacity: 1;
    }
}
