.data-panel {
	padding: 0;

	&__title {
		font-weight: 400;
		padding: 16px;
	}

	&__description {
		font-size: 12px;
		color: var(--dark-grey);
		margin: 8px 0 24px 16px;
	}

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: var(--grey);
		}
	}

	&__key {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		color: var(--dark-grey);
	}

}
