.snapshots-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-column-gap: 8px;
	grid-row-gap: 16px;

	&__item {
		min-height: 320px;
		border-radius: 4px;
	}
}
