.section {
  position: relative;
  background-color: var(--white);
  padding: var(--padding);
  min-height: 30vh;
  overflow: hidden;

  &__title {
    max-width: var(--container-width);
    margin: 0 auto 40px auto;
    font-weight: 400;
    font-size: var(--title-size);
    line-height: var(--title-size);
  }

  &__content {
    max-width: var(--container-width);
    margin: 0 auto;
  }

  &--white {
    background-color: white;
	}

  &--grey {
    background-color: var(--grey);
  }

  &--splash {
    background-color: var(--dark-blue);
    color: var(--white);
  }

  &--dark {
    background-color: var(--dark);
    color: var(--white);
  }

  &--dark a, &--splash a {
    color: var(--white);
  }

}
